{% extends "layout.html" %}
{% block content %}
    <legend class="border-bottom mb-4">{{ legend }}</legend>
    <p>This is a competitive programming online judge hosted on a discord bot (<code>Judge#5642</code>). This is an open platform where anybody can create problems and host contests on the judge! Join the discord or direct message me at <code>jiminycricket#2701</code> for details.</p>
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <a href="https://discord.gg/mhJbxatSpS">Judge's Discord Server</a>
        <br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=831963122448203776&permissions=2148005952&scope=bot">Bot Invite Link</a>
        <br>
        <a href="https://github.com/DiscordBotOnlineJudge">Github</a>
        <br>
        <a href="/languages">Language Runtime Info</a>
    </p>

    
{% endblock content %}
