{% extends "layout.html" %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:normal;
    }

    tr:nth-child(1) {
        background-color: #dddddd;
    }
</style>

<h2>Contests</h2>
<legend class="border-bottom mb-4">Ongoing Contests</code></legend>
<table>
    <tr>
        <td>Contest</td>
        <td>Start</td>
        <td>End</td>
    </tr>

    {% for contest in contests %}
    {% if contest['color'] == 'lightgreen' %}
    <tr>
        <th style="background-color:{{contest['color']}}"><a href="/contest/{{contest['name']}}">{{contest['name']}}</a></th>
        <th>{{contest['start']}}</th>
        <th>{{contest['end']}}</th>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<br>

<legend class="border-bottom mb-4">Upcoming Contests</code></legend>
<table>
    <tr>
        <td>Contest</td>
        <td>Start</td>
        <td>End</td>
    </tr>

    {% for contest in contests %}
    {% if contest['color'] == 'yellow' %}
    <tr>
        <th style="background-color:{{contest['color']}}"><a href="/contest/{{contest['name']}}">{{contest['name']}}</a></th>
        <th>{{contest['start']}}</th>
        <th>{{contest['end']}}</th>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<br>

<legend class="border-bottom mb-4">Past Contests</code></legend>
<table>
    <tr>
        <td>Contest</td>
        <td>Start</td>
        <td>End</td>
    </tr>

    {% for contest in contests %}
    {% if contest['color'] == 'lightgray' %}
    <tr>
        <th style="background-color:{{contest['color']}}"><a href="/contest/{{contest['name']}}">{{contest['name']}}</a></th>
        <th>{{contest['start']}}</th>
        <th>{{contest['end']}}</th>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock content %}
