{% extends "layout.html" %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:normal;
    }

    tr:nth-child(1) {
        background-color: #dddddd;
    }
</style>

<legend class="border-bottom mb-4">Contests</code></legend>
<table>
    <tr>
        <td>Contest</td>
        <td>Start</td>
        <td>End</td>
    </tr>

    {% for contest in contests %}
    <tr>
        <th style="background-color:{{contest['color']}}"><a href="/contest/{{contest['name']}}">{{contest['name']}}</a></th>
        <th>{{contest['start']}}</th>
        <th>{{contest['end']}}</th>
    </tr>
    {% endfor %}
</table>

<br>
<h6>Legend:</h6>
<table>
    <tr><td style="background-color:lightgreen">Green: Active/Ongoing Contest</td>
    <tr><td style="background-color:yellow">Yellow: Contest Not Started Yet</td>
    <tr><td style="background-color:lightgray">Gray: Past Contest</td>
</table>

{% endblock content %}
