{% extends "layout.html" %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:normal;
    }
</style>

<article class="card md-3" style="min-width:fit-content;">
    <div class="card-header">
        <h4 class="card-title">Ongoing Contests</h4>
    </div>
    <div class="card-body">
        <table>
            <thead>
                <tr class="table-header">
                    <td><strong>Contest</strong></td>
                    <td><strong>Start</strong></td>
                    <td><strong>End</strong></td>
                </tr>
            </thead>

            {% for contest in contests %}
            {% if contest['color'] == 'lightgreen' %}
            <tr>
                <th style="background-color:{{contest['color']}}"><a href="/contest/{{contest['name']}}">{{contest['name']}}</a></th>
                <th>{{contest['start']}}</th>
                <th>{{contest['end']}}</th>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</article>

<br>

<article class="card md-3" style="min-width:fit-content;">
    <div class="card-header">
        <h4 class="card-title">Upcoming Contests</h4>
    </div>
    <div class="card-body">
        <table>
            <tr class="table-header">
                <td><strong>Contest</strong></td>
                <td><strong>Start</strong></td>
                <td><strong>End</strong></td>
            </tr>

            {% for contest in contests %}
            {% if contest['color'] == 'yellow' %}
            <tr>
                <th style="background-color:{{contest['color']}}"><a href="/contest/{{contest['name']}}">{{contest['name']}}</a></th>
                <th>{{contest['start']}}</th>
                <th>{{contest['end']}}</th>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</article>

<br>

<article class="card md-3" style="min-width:fit-content;">
    <div class="card-header">
        <h4 class="card-title">Past Contests</h4>
    </div>
    <div class="card-body">
        <table>
            <tr class="table-header">
                <td><strong>Contest</strong></td>
                <td><strong>Start</strong></td>
                <td><strong>End</strong></td>
            </tr>

            {% for contest in contests %}
            {% if contest['color'] == 'lightgray' %}
            <tr>
                <th style="background-color:{{contest['color']}}"><a href="/contest/{{contest['name']}}">{{contest['name']}}</a></th>
                <th>{{contest['start']}}</th>
                <th>{{contest['end']}}</th>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</article>

{% endblock content %}
