{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Announcement by {{ post['author'] }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post['id']) }}">{{ post['title'] }}</a></h2>
            <p class="article-content" class="markdown-body" id="content{{post['id']}}">{{ post['content'] }}</p>

            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <script>
              document.getElementById("content{{post['id']}}").innerHTML = marked.parse(document.getElementById("content{{post['id']}}").innerHTML)
            </script>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
