<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        
        <!-- Github style markdown CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.css" integrity="sha512-1d9gwwC3dNW3O+lGwY8zTQrh08a41Ejci46DdzY1aQbqi/7Qr8Asp4ycWPsoD52tKXKrgu8h/lSpig1aAkvlMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <style>
            .navbar-custom {
                background-color: lightgreen;
            }
            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text {
                color: green;
            }
            .markdown-body {
                box-sizing: border-box;
                min-width: 100%;
                max-width: 100%;
                margin: 0 auto;
                padding: 8px;
            }
            @media (max-width: 100%) {
                .markdown-body {
                    padding: 8px;
                }
            }
            .container {
                width: 1500px;
                max-width: 90%;
                margin: 0 auto;
            }
            .col-md-8 {
                width: fit-content;
            }
            .col-md-4 {
                max-width: fit-content;
            }
            .sticky-window {
                position: -webkit-sticky;
                position: sticky;
                top: 9%;
            }
        </style>

        {% if title %}
        <title>{{ title }} - Discord Bot Online Judge</title>
        {% else %}
        <title>Discord Bot Online Judge</title>
        {% endif %}
    </head>

    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
              <div class="container">
                <a class="navbar-brand mr-4" href="/">Discord Bot Online Judge</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                    <div class="btn-group">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/about/languages">Languages</a>
                        <a class="dropdown-item" href="/about/problem-setting">Problem Setting</a>
                        <a class="dropdown-item" href="https://discord.gg/mhJbxatSpS">Official Discord Server</a>
                        <a class="dropdown-item" href="https://discord.com/api/oauth2/authorize?client_id=831963122448203776&permissions=2148005952&scope=bot">Bot Invite Link</a>
                        <a class="dropdown-item" href="https://github.com/DiscordBotOnlineJudge">Github</a>
                      </div>
                    </div>
                    <a class="nav-item nav-link" href="{{ url_for('problems') }}">Problems</a>
                    <a class="nav-item nav-link" href="/contests">Contests</a>
                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">
                    {% if current_user.is_admin %}
                      <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/post/new">New Site Announcement</a>
                          <a class="dropdown-item" href="/problems/export">Upload Problem Data</a>
                          <a class="dropdown-item" href="/contests/new">Create New Contest</a>
                        </div>
                      </div>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                      <p></p>
                      <a class="nav-item nav-link">Hello, {{current_user.name}}</a>
                      <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                      <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                      <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </nav>
          </header>
    </body>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
            </div>
            
            <div class="col-md-4">
                <div class="sticky-window">
                    {% block sidebar %}
                    {% endblock %}
                
                    {% if t %}
                        <div class="content-section">
                            <legend class="border-bottom mb-4">Contest timer</legend>
                            <p id="timer" style="max-width:fit-content">Calculating remaining time...</p>
                        </div>
        
                        <script type="text/javascript">
                            function sleep(ms) {
                                return new Promise(resolve => setTimeout(resolve, ms));
                            }
                
                            var month = parseInt('{{t[1]}}'), day = parseInt('{{t[2]}}'), year = parseInt('{{t[0]}}'), hh = parseInt('{{t[3]}}'), mm = parseInt('{{t[4]}}'), ss = parseInt('{{t[5]}}');
                            var dateStr = month + " " + day + " " + year + " " + hh + ":" + mm + ":" + ss;
                            var startDate = new Date(dateStr).getTime();
                            var x = setInterval(function() {
                                var now = new Date().getTime();
                                var elapsed = now - startDate;
                                var lenMillis = parseInt('{{len}}') * 1000;
                                var distance = lenMillis - elapsed;
                                
                                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                
                                if (distance < 5000) {
                                    document.getElementById("timer").innerHTML = "Time's Up! Your window on contest <b>{{ctst}}</b> has ended.";
                                    location.reload();
                                    clearInterval(x);
                                }
                                else if (distance < 0) {
                                    document.getElementById("timer").innerHTML = "Time's Up! Your window on contest <b>{{ctst}}</b> has ended.";
                                }
                                else {
                                    done = false;
                                    var dayMsg = "";
                                    if (days > 0) {
                                        dayMsg = " " + days + " days, ";
                                    }
                                    document.getElementById("timer").innerHTML = "You have <b>" + dayMsg + hours + " hours, " + minutes + " minutes, and " + seconds + " seconds</b> left on contest <b>{{ctst}}</b>.";
                                }
                            }, 1000);
                        </script>
                    {% endif %}
                </div>
            </div>
          </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>