{% extends "layout.html" %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:normal;
    }

    tr:nth-child(1) {
        background-color: #dddddd;
    }
</style>

<article class="card mb-5">
    <div class="card-body">
        <legend class="border-bottom mb-4">Private problems visible to <code>{{current_user.name}}</code></legend>
        <table>
            <tr>
                <td>Problem name</td>
                <td>Points</td>
                <td>Contest</td>
                <td>Problem types</td>
                <td>Authors/Testers</td>
            </tr>

            {% for problem in private_problems %}
            <tr>
                <th><a href="/viewproblem/{{problem[0]}}">{{problem[0]}}</a></th>
                <th>{{problem[1]}}</th>
                <th>{{problem[2]}}</th>
                <th>{{problem[3]}}</th>
                <th>{{problem[4]}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</article>

{% endblock content %}
