{% extends "layout.html" %}
{% block content %} 
    
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style type="text/css">
        <!--
         .tab { margin-left: 40px; }
        -->
    </style>

    <article class="card md-3">
        <div class="card-body">
            <legend class="border-bottom mb-4">Execution Results</legend>
            <p class="markdown-body" id="result_content" style="font-family:monospace; font-size:16px">
                <strong>Loading submission results...</strong>
            </p>
        </div>    
    </article>

    <script>
        var live_submission_updater = setInterval(function() {
            const Http = new XMLHttpRequest();
            const url='/raw_submission/{{sub_id}}';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                var response = Http.responseText;
                if (response.length == 0) {
                    document.getElementById('result_content').innerHTML = "<strong>Waiting for a response from a judging server...</strong>";
                }
                else {
                    document.getElementById('result_content').innerHTML = response.replaceAll("EXECUTION%sp%RESULTS", "").replaceAll("%sp%", "&ensp;").replaceAll("%nl%", "<br>");
                    window.scrollTo(0,document.body.scrollHeight);
                }
                if (response.endsWith("(Status:%sp%COMPLETED)")) {
                    clearInterval(live_submission_updater);
                }
            }
        }, 1000);
    </script>

{% endblock content %}

{% block sidebar %}
<div class="content-section">
    <a href="/viewproblem/{{sub_problem}}" style="font-size:18px"><strong> &#8592; Back to {{sub_problem}}</strong></a>
    <hr>
    <a href="/submission/{{sub_id}}/source">View source</a>
</div>
{% endblock %}