{% extends "layout.html" %}
{% block content %}   
    <legend class="border-bottom mb-4">Source code from submission {{sid}} by <code>{{author}}</code> for <a href="/viewproblem/{{sub_problem}}">{{sub_problem}}</a> in <code>{{lang}}</code></legend>

    <style>
        .tab {
            tab-size: 2;
        }
    </style>

    <article class="card md-3">
        <div class="card-body">
            <code style="color:#3b48ff" id="source">
            {{src}}
            </code>
        </div>
    </article>

    <script>
        document.getElementById("source").innerHTML = document.getElementById("source").innerHTML.replaceAll("&amp;lt;", "<").replaceAll("&amp;gt;", ">").replaceAll("<", "&lt;").replaceAll(">", "&gt;").replaceAll("%nl%", "<br>").replaceAll("\t", "&emsp;&emsp;&emsp;").replaceAll("%sp%", "&nbsp;");
    </script>

{% endblock content %}
