{% extends "layout.html" %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <article class="card mb-3">
        <div class="card-body">
            <legend class="border-bottom mb-4" style="font-size: 30px; font-weight:bold">Problem Statement for <code>{{problemName}}</legend>

            <p id="content" class="markdown-body">
            {{src}}
            </p>
        </div>
    </article>

    <script>
        document.getElementById('content').innerHTML = marked.parse(document.getElementById('content').innerHTML.replaceAll("â‰¤", "≤")).replaceAll("&amp;lt;", "<").replaceAll("&amp;gt;", ">").replaceAll("%lft%", "&lt;").replaceAll("%rit%", "&gt;");
    </script>

{% endblock content %}
