{% extends "layout.html" %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>    
    <legend class="border-bottom mb-4">Problem Statement for <code>{{problemName}}</code></legend>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>

    <article class="card mb-3">
        <div class="card-body">
            <p id="content" class="markdown-body">
            {{src}}
            </p>
        </div>
    </article>

    <script>
        document.getElementById('content').innerHTML = marked.parse(document.getElementById('content').innerHTML.replaceAll("â‰¤", "≤")).replaceAll("&amp;lt;", "<").replaceAll("&amp;gt;", ">").replaceAll("%lft%", "&lt;").replaceAll("%rit%", "&gt;");
    </script>

{% endblock content %}
